/* 
    Document   : example
    Created on : August 5, 2007, 9:01 PM
    Author     : cooper
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.example-ContactEdit input {
    width: 100%;
}

.example-AddressEdit {
    background-color: #DDDDDD;
    overflow: hidden;
}

.example.AddressEdit td {
    border-width: 0px;
}