/* 
    Document   : example
    Created on : July 26, 2007, 3:07 PM
    Author     : cooper
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.example-error {
    color: red;
    background-color: white;
    border: 1px dotted red;
}

