.gwittir-SoftButton {
    border-style: outset;
    border-width: 2px;
    display: inline;
    cursor: default;
    color: black;
    background-color: silver;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}
.gwittir-SoftButton.disabled {
    border-style: inset;
    color: gray;
    background-color: white;
}
.gwittir-SoftButton.hover {
    background-color: silver;
}
.gwittir-SoftButton.focussed {
    background-color: silver;
}
.gwittir-SoftButton.pressed {
    border-style: inset;
    background-color: gray;
}








